<style style="text/css">
#shop-instagram-feed .fs-has-links::after {
  padding: 5px 7.5px;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  content: "SHOP THE LOOK";
}
#shop-instagram-feed .fs-has-links:hover:after {
  background-color: rgb(255, 255, 255);
  color: rgba(0,0,0,0.8);
}
#shop-instagram-feed .fs-wrapper div.fs-text-container .fs-entry-title,
#shop-instagram-feed div.fs-detail-title {
  font-family: "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
}
#shop-instagram-feed div.fs-text-container .fs-entry-date,
#shop-instagram-feed div.fs-detail-container .fs-post-info,
#shop-instagram-feed div.fs-wrapper div.fs-has-links::after,
#shop-instagram-feed .fs-text-product,
#shop-instagram-feed .fs-overlink-text{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
}
#shop-instagram-feed .fs-slider-next-button,
#shop-instagram-feed .fs-slider-prev-button {
  opacity: 1;
}
#shop-instagram-feed .fs-wrapper div.fs-text-container * {
  color:rgb(255, 255, 255);
}
#shop-instagram-feed .fs-wrapper div.fs-text-container {
  background-color: rgba(0,0,0,0.8);
  margin: 0px;
}
#shop-instagram-feed div.fs-entry-date,
#shop-instagram-feed div.fs-entry-title,
#shop-instagram-feed .fs-next-button {
  display: none;
}
#shop-instagram-feed .fs-wrapper div.fs-timeline-entry {
  margin: 1px;
}
#shop-instagram-feed .fs-entry-container {
  height: auto !important;
  vertical-align: top;
}
#shop-instagram-feed .fs-desktop div.fs-entry-container {
  float: left;
  width: 20%;
  padding-top: 20%;
}
#shop-instagram-feed .fs-desktop div.fs-entry-container:nth-of-type(7n + 1) {
  width: 40%;
  padding-top: 40%;
}
#shop-instagram-feed .fs-mobile div.fs-entry-container {
  width: 50% !important;
  padding-top: 50% !important;
}
#shop-instagram-feed .fs-mobile div.fs-entry-container:nth-of-type(7n + 1) {
  width: 100% !important;
  padding-top: 100% !important;
}
</style>
<div id="shop-instagram-feed">
  <div class="container">
    <h2 style="text-align: center"><a href="https://alphaprimeusa.com/pages/shopig" class="icon-instagram">Shop Instagram</a></h2>
    <script async src="//foursixty.com/media/scripts/fs.embed.v2.5.js" data-feed-id="alpha-prime-apparel_1" data-theme="sizes_v2_5" data-page-size="7" data-connector-filter="27537" data-id="12"></script>
  </div>
</div>
