<div data-oke-reviews-carousel data-oke-reviews-carousel-link="{{ section.settings.link }}" data-oke-reviews-carousel-heading="{{ section.settings.heading }}"></div>

{% schema %}
{
  "name": "Okendo Reviews Carousel",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "link",
      "label": "Link"
    }
  ],
  "presets": [
    {
      "name": "Okendo Reviews Carousel",
      "category": "Product"
    }
  ]
}
{% endschema %}
