{% comment %}
  Page template page.about-caesar-bacarella.liquid content
{% endcomment %}

{% section 'video' %}

<div class="container page">{{ page.content }}</div>

<!--{% section 'event-schedule' %}-->
{% section 'product-list' %}
